<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Creditos:</h1>
    <h2>este trabajo fue hecho por 11 africanos no esclavizados(les pagamos un pollin a c/u)</h2>
    <img src="/imagenes/credito.jpg" width="30%">
    <h2>tambien nosotros(Noah Denenberg Korob, Ivan Frankowski y Yannick Lerner)</h2>
    <img src="/imagenes/yanov.jpg" width="30%">  
    <img src="/imagenes/noah.jpg" width="30%">  
    <nav><a href='@Url.Action("Tutorial")'> <button>Tutorial</button></a></nav>
    <nav><a href='@Url.Action("Comenzar")'> <button>Iniciar Juego</button></a></nav>
</body>
</html>